.login-container {
  margin-top: 20px;
  /* padding-top: 20px; */
  position: relative;
  z-index: 1;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  background-color: #e5e7eb; 
  font-family: 'Poppins', sans-serif;
}

#particles-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo-login-container {
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
}

.logo-login img {
  background-color: #2563eb;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
  width: 80px;
  margin-top: 10px;
}

.welcome-login-text h2 {
  color: #0e0f10;
  font-weight: 500;
}

.welcome-login-text span {
  color: #2563eb;
  font-weight: bold;
}

.form-login-section {
  background-color: white; /* plus lisible */
  border-radius: 16px;
  padding: 30px 40px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  color: #1f2937;
  margin-bottom: 20px;
}

.login-title h1 {
  margin: 0;
  font-size: 28px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group-login {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group-login label {
  color: #374151;
  margin-bottom: 6px;
  font-size: 14px;
}

.form-group-login input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: rgba(255, 255, 255, 0.7);
  color: #111827;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease;
}

.form-group-login input:focus {
  border: 2px solid #2563eb;
  background-color: #fff;
}

.form-group-login input::placeholder {
  color: #9ca3af;
}

.login-btn {
  padding: 12px;
  background-color: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #1e40af;
}
.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
}

.input-with-icon i {
  margin-right: 10px;
  color: #09090a;
}

.input-with-icon input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
.error-text {
  color: red;
  font-size: 0.85em;
  margin-top: 4px;
}
